/* Resetting the box model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Removing default browser styling */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

/* Setting default font and font size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Removing list styles */
ul, ol {
  list-style: none;
}

/* Removing default link styling */
a {
  text-decoration: none;
  color: #000;
}

/* Setting default text alignment */
p, ul, ol, dl {
  text-align: left;
}

.square {
  display: inline-block;
  width: 4rem;
  aspect-ratio: 1/1;
  border-bottom: 2px solid #000;
  /* outline-offset: 5px; */
  /* border: 1px solid #000; */
  font-size: 2em;
  font-family: "poppins",sans-serif;
  display: grid;
  place-items: center;
  user-select: none;
}

.square {
  border-bottom: 2px solid #000;
}
.square:nth-child(3n),
.square:nth-child(3n-2) {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: 2px solid black; /* Applying bottom border to squares 1, 2, and 3 */
}


.board-container {
  display: grid;
  max-width: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
}